@media screen and (max-width: 576px) {
    html, 
    body {
        width: 100%;
        overflow: scroll;
        /* overflow-x: hidden; */
    }

    .parallax-bg {
        width: 100%;
        height: 100%;
    }

    .container {
        margin: 0;
        padding: 40px;
        height: auto;
    }

    .slide {
        overflow-x: hidden;
    }

    .main-nav {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 0 15px;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        /* overflow-y: hidden; */
        /* display: none; */

        background-color: #d6ff00;
    }

    .main-nav__logo-wrapper {
        height: 40px;
    }

    .main-nav__logo {
        /* box-sizing: border-box; */
        width: 150px;
        display: flex;
        justify-content: space-between;
    }

    .logo__description--media {
        width: 50px;
        margin-top: 6px;

        font-size: 12px;
    }

    /* .main-nav  {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
    } */

    .main-nav__wrapper__lang {
        display: flex;
        margin: 0;
        padding: 30px 0 0;
        /* position: absolute;
        top: 0;
        left: 0; */
        /* margin-top: auto; */
    }

    .main-nav__lang {
        display: none;
    }

    .main-nav__wrapper {
        box-sizing: border-box;
        margin: 0;
        margin-top: 40px;
        padding: 0 30px;

        overflow: hidden;
        
        position: absolute;
        top: 0;
        left: 0;

        height: 0;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        
        background-color: #181212;
        
        transition: height 0.5s;
    }

    .main-nav__wrapper--active {
        position: absolute;
        bottom: 0;
        height: calc(100vh - 40px);
        height: calc((var(--vh, 1vh) * 100) - 40px);
    }

    /* .nav-list {
        width: 100%;
    } */

    .main-nav__start-project-button {
        display: block;
        margin: 0;
        box-sizing: border-box;
        width: calc(100% - 60px);

        position: absolute;
        bottom: 30px;
        left: 30px;

        order: 3;
    }

    .nav-list__item {
        padding-top: 0;
    }

    .menu-button {
        width: 40px;
        height: 40px;
        margin: 0;

        position: static;

        background-color: #7a7a7a;

        transform: none;
    }

    .menu-button img{
        display: none;
    }



    .hamburger {
        padding: 10px 10px;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible; 
    }

    .hamburger:hover {
        opacity: 0.7; 
    }

    .hamburger.is-active:hover {
        opacity: 0.7; 
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: #000; 
    }
    
    .hamburger-box {
        width: 20px;
        height: 18px;
        display: inline-block;
        position: relative; 
    }
    
    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -1px; 
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: 20px;
        height: 2px;
        background-color: #000;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease; 
    }

    .hamburger-inner::before, .hamburger-inner::after {
        content: "";
        display: block; 
    }
    .hamburger-inner::before {
        top: -6px; 
    }

    .hamburger-inner::after {
        bottom: -6px; 
    }

    /* 
    * Emphatic
    */
    .hamburger--emphatic {
        overflow: hidden; 
    }

    .hamburger--emphatic .hamburger-inner {
        transition: background-color 0.125s 0.175s ease-in; 
    }

    .hamburger--emphatic .hamburger-inner::before {
        left: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; 
    }

    .hamburger--emphatic .hamburger-inner::after {
        right: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
    }

    .hamburger--emphatic.is-active .hamburger-inner {
        transition-delay: 0s;
        transition-timing-function: ease-out;
        background-color: transparent !important; 
    }

    .hamburger--emphatic.is-active .hamburger-inner::before {
        left: -80px;
        top: -80px;
        transform: translate3d(80px, 80px, 0) rotate(45deg);
        transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); 
    }
        
    .hamburger--emphatic.is-active .hamburger-inner::after {
        right: -80px;
        top: -80px;
        transform: translate3d(-80px, 80px, 0) rotate(-45deg);
        transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); 
    }



    .main {
        margin-top: 40px;
    }

    .slick-dots {
        display: none;
    }

    .page-header {
        margin: 80px 0 60px;
        margin-top: 30px;
        font-size: 20px;
        opacity: 1;
    }

    .page-header::after {
        content: "";
    
        position: absolute;
        left: 0;
        bottom: -20px;
    
        width: 160px;
        height: 2px;
        background-color: #d6ff00;
    }


    .container__main-page {
        box-sizing: border-box;
        margin: 0;
        padding: 0 40px;
        height: calc(100vh - 40px);
        height: calc((var(--vh, 1vh) * 100) - 40px);
        /* height: calc(100vh - 40px); */
        width: 100%;
    }

    .main-page {
        position: relative;
    }

    .main-page__header {
        margin-top: 0;
    }

    .main-page__p {
        margin: 0;
        margin-bottom: 42px;
        opacity: 1;
        text-align: left;
    }

    .main-page__start-project-button {
        display: block;
        margin-top: 70px;
    }

    .arrow {
        display: none;
    }

    .main-page__start-project-button {
        display: block;
        margin: 0;
        /* margin-top: 30%; */
        box-sizing: border-box;
        width: 100%;

        position: absolute;
        bottom: 30px;
        left: 0;
    }

    .about-us-page {
        display: none;
    }

    .services-list {
        display: block;
    }

    .services-list__item {
        width: auto;
    }

    .fixed {
        display: none;
    }

    .form-row { 
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
    }

    input, textarea {
        width: 100%;
    }

    .write-page__form {
        position: relative;
        margin-bottom: 80px;
    }

    .write-page__copyright {
        position: relative;
        bottom: 0;
    }

    #submit {
        float: none;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -80px;
    }


    .feedback {
        width: 100%;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }
    
    .feedback li{
        width: 100%;
        text-align: left;
        margin-bottom: 30px;
    }

    .feedback span{
        margin-bottom: 20px;
    }

    .container {
        overflow-x: hidden;
    }

    .none-scroll {
        position: absolute;
        max-height: 100vh;
        overflow-y: hidden !important;
    }
}