html, 
body {
    margin: 0;
    padding: 0;

    font-family: 'SF', sans-serif;
    font-size: 18px;
    text-align: justify;

    color: #f3f3f3;
    background-color: #000;
    overflow: hidden;
}

a {
    color: #f3f3f3;
    text-decoration: none;
    outline: 0!important;
}

button {
    user-select: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin-left: 80px;
    width: calc(100% - 80px);
    height: 100vh;
}

.page {
    margin: auto;
    max-width: 728px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    box-sizing: border-box;
    position: relative;

    min-width: 160px;
    padding: 0 20px;
    height: 42px;

    font-size: 14px;
    text-transform: uppercase;
    color: #f3f3f3!important;
    border: 2px solid #f3f3f3;
    background-color: transparent;

    cursor: pointer;
    transition: 1s;
}

/* .button::after {
    content: '';

    position: absolute; 
    top: 0;
    left: 0;

    width: 100%;
    height: 0;
    background-color: #d6ff00;

    transition: 1s;
    z-index: -1;
} */

.button:hover {
    color: #000!important;
    background-color: #d6ff00;
    border-color: #d6ff00;
}

/* .button:hover::after {
    height: 100%;
} */

/* #slide-line {
    display: none;
} */

.header {
    align-items: center;
}

.header__logo {
    color: #d6ff00;
    font-size: 52px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.logo__main {
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
}

.logo__description {
    margin: 0;
    font-size: 0.35em;
    text-transform: uppercase;
}

.logo-sign__sign {
    font-size: 1em;
    font-weight: 700;
}

.main-nav {
    position: fixed;
    left: 0;
    top: 0;

    width: 80px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 12px;
    text-transform: uppercase;
    background-color: #181818;
    transition: 0.5s;

    z-index: 2;
}

.main-nav  a{
    cursor: pointer;
}

.main-nav--active {
    width: 160px;
    transition: 0.5s;
}

.main-nav__logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    background-color: #d6ff00;
    transition: 0.5s;
}

.main-nav__logo-wrapper--active {
    height: 160px;
    transition: 0.5s;
}

.main-nav__logo {
    color: #000;
    font-size: 32px;
    transition: 0.5s;
}

.menu-button {
    text-align: left;
    width: auto;
    margin-top: auto;
    margin-bottom: 60px;
    padding: 0;
    outline: none;
    color: #7a7a7a;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    transform: translateX(50%);
    cursor: pointer;
    order: 2;
}

.menu-button img{
    width: 40px;
    display: block;
    margin-top: 10px;
}

.open-menu-button {
    box-sizing: border-box;
    width: 40px;
    text-align: left;
    position: relative;
    /* transition: margin 0.5s; */
    /* transform: rotate(-90deg); */
}

.open-menu-button:hover {
    color: #d6ff00;
}

.close-menu-button {
    margin-left: 30px;
    transform: translateX(0);
    /* transition: margin 0.5s; */
}

.close-menu-button img {
    transform: scale(-1, 1);
}



.main-nav__wrapper {
    margin: auto 0;
    padding: 0 30px;
    transition: 0.5s;

    user-select: none;

    order: 1;
}

.nav-list__item {
    box-sizing: border-box;
    height: 40px;
    padding-top: 28px;
}

.nav-list__link {
    color: #7a7a7a;
    transition: 0.5s;
}

.nav-list__link:hover {
    color: #d6ff00;
}

.lang-list {
    margin-top: 100px;
    padding: 0 30px 28px;

    display: flex;
    /* justify-content: space-between; */
    order: 3;
}

.lang-list__item {
    margin-right: 20px;
}

.lang-list__link {
    font-weight: 700;
    color: #7a7a7a;
}

.lang-list__link:hover {
    transition: 0.5s;
    color: #d6ff00;
}

.lang-list__link--current {
    color: #d6ff00;
}

.main-nav__wrapper__lang {
    display: none;
}

.main-nav__start-project-button {
    display: none;
}

.page-header {
    margin: 0 0 -40px 0;

    position: relative;

    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;

    opacity: 0;
}

.slick-active .page-header{
    opacity: 1;
    margin-bottom: 90px;
    transition: 1s;
    transition-delay: 0.5s;
}

.page-header::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -30px;

    width: 0;
    height: 2px;
    background-color: #d6ff00;
}

.slick-active .page-header::after {
    width: 160px;
    transition: 1s ease-out;
    transition-delay: 0.5s;
}

.container__main-page {
    position: relative;

    background-image: url(../img/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #555555;
}

.main-page__start-project-button {
    display: none;
}

.main-page__p,
.about-us__p {
    margin-top: -40px;
    opacity: 0;
}

.slick-active .main-page__p,
.slick-active .about-us__p {
    opacity: 1;
    margin-top: 0;
    transition: 1.5s;
    transition-delay: 1s;
}

.about-us-page {
    position: relative;
}

.services-list {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.services-list__item {
    width: 190px;
}

.services-item__title {
    font-size: 18px;
    color: #d6ff00;
    text-transform: uppercase;
}

.services-list__item li {
    padding: 10px 0;

    color: #7a7a7a;
    font-size: 14px;
}


.working-page {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    padding-left: 80px;
    max-width: 100%;
    width: 100%;
    height: 100vh;
}

.working-list {
    margin: 0;
    padding: 0;

    height: 100%;

    display: flex;
    flex-wrap: wrap;
}

/* .working-list__item {
    position: relative;

    width: 25%;
    height: 33.3333%;

    overflow: hidden;
} */

.working-list__item {
    position: relative;

    width: 50%;
    height: 50%;

    overflow: hidden;
}

.working-list__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: auto;
    width: 120%;

    transition: 0.5s;
}

.working-list__item--view {
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 15% 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.8);

    opacity: 0;
    transition: 0.5s;
}

.working-list__title {
    margin: 0;
    width: 100%;
    
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.working-list__button {
    position: relative;

    display: block;
    margin: 0 20px;

    width: 50px;
    height: 50px;

    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
}

.working-list__button:hover  {
    background-color: rgba(255, 255, 255, 0.2);
}

.working-list__view::before {
    content: url(../img/eye.svg);

    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: 0.5s;
}

.working-list__view:hover::before {
    content: url(../img/eye-hover.svg);
}

.working-list__link::before {
    content: url(../img/link.svg);

    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: 0.5s;
}

.working-list__link:hover::before {
    content: url(../img/link-hover.svg);
}

.working-list__item:hover .working-list__item--view {
    opacity: 1;
}

.working-list__item:hover .working-list__img {
    filter: blur(6px);
    width: 100%;
}

.working-item__projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.working-item__amount-projects {
    font-size: 14px;
}

.working-item__amount {
    font-size: 24px;
    font-weight: 700;
}

.working-item__watch-projects {
    margin-top: 20px;
}

.contacts-page {
    max-width: 868px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.contacts-page__header {
    width: 100%;
}

.map {
    margin: 0 0 20px 0;
    width: 100%;
    height: 290px;
    opacity: 0;
    transition: 0.5s;
}

.map iframe {
    height: 100%;
    width: 100%;
}


.slick-active .map{
    opacity: 1;
    transition: 0.5s;
}

.contacts-list {
    display: flex;
}

.contacts-list__item:nth-child(1) {
    width: 275px;
}

.contacts-list__item:nth-child(2) {
    width: 235px;
}

.contacts-list__item:nth-child(3) {
    width: 195px;
}

.contacts-list__heading {
    margin: 20px 0;
}

.contacts-list__link-tel {
    display: block;
    margin-bottom: 15px;
}

.contacts-page__button {
    margin-top: 20px;
}

.slick-active .write-page__header {
    margin-bottom: 80px;
}

.write-page__header--span {
    font-size: 18px;
}

.write-page__form .button{
    float: right;
    margin-top: 20px;
    border-color: #898989;
    color: #898989;
}

.write-page__form .button:hover{
    color: #000;
    border-color: #d6ff00;
}

.form-row { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-row:first-child{
    margin-bottom: 30px;
} 



input, textarea {
    resize: none;
    font-size: 16px;
    line-height: 1;
    font-weight: 300;
    border: none;
    border-bottom: 2px solid #898989;
    background: 0 0;
    color: #fff;
    padding: 13px 0;
    overflow: hidden;
    position: relative;
    width: 220px;
    outline: 0;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    box-sizing: border-box;
}

input#name {
    text-transform: capitalize;
}

input::placeholder, textarea::placeholder {
    font-size: 18px;
    font-weight: 700;
}

input:focus, textarea:focus{
    border-color: #d6ff00;
    transition: 0.5s;
}

textarea {
    width: 100%;
}

.feedback {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

.feedback li{
    width: 240px;
    text-align: left;
}

.feedback li span {
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
}

.feedback li>a {
    font-size: 18px;
    text-transform: uppercase!important;
    transition: 0.5s;
}

.feedback li>a:hover {
    color: #d6ff00;
    transition: 0.5s;
} 

.write-page__copyright {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 12px;
    color: #343434;
}

.fixed__start-project-button {
    position: fixed;
    top: 40px;
    right: 80px;

    opacity: 0.5;
}

.fixed__start-project-button:hover {
    opacity: 1;
}

.arrow {
    position: absolute;
    bottom: 28px;
    left: 50%;
    
    width: 20px;
    height: 40px;

    cursor: pointer;
}

.arrow::before,
.arrow::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 6px;

    width: 2px;
    height: 40px;

    background-color: #d6ff00;
}

.arrow::after {
    left: 10px;

    width: 2px;
    height: 10px;

    background-color: #d6ff00;
    transform: rotate(45deg);
}

.social {
    position: fixed;
    bottom: 28px;
    right: 80px;

    width: 105px;
    display: flex;
    justify-content: space-between;
}





.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* .main-nav {
    display: none;
} */



.slick-track {
    height: 100vh;
    outline: 0;
}

.slick-slide {
    height: 100vh;
    outline: 0;
}

.slick-arrow {
    display: none !important;
}

.slick-dots {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 3;
}

.slick-dots::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    width: 2px;
    background-color: #4b4b4b;

    z-index: -1;
}

.slick-dots button {
    font-size: 0;
    border: none;

    position: relative;

    width: 2px;
    height: 30px;
    padding: 0;
    margin: 5px 0;

    background-color: #a5a5a5;
    outline: none;

    transition: 0.5s;
}

.slick-dots button::after {
    content: '';

    position: absolute; 
    top: 0;
    /* top: -100%; */
    left: 0;

    /* opacity: 0; */

    width: 100%;
    height: 0;
    /* height: 100%; */
    background-color: #d6ff00;

    transition: height 1s;
}

/* .slick-dots .slick-active button::after {
    height: 100%;
} */

.slick-active.slider-line-bottom button::after {
    top: 0;
    bottom: auto;
    height: 100%;
    transition: height 1s;
}

.slick-active.slider-line-top button::after {
    top: auto;
    bottom: 0;
    height: 100%;
    transition: height 1s;
}

.none-active-slider-line-bottom button::after {
    top: auto;
    bottom: 0;
    height: 0;
    transition: height 1s;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 9999999;
}

.parallax-bg {
    position: absolute;
    top: -10%;
    left: -10%;
    height: 120%;
    width: 120%;
}

.parallax-bg .layer{
    background-size: cover; 
    height: 100%;
    width: 100%;
    position: absolute;
}

.parallax-bg .layer-1 {
    background: url('../img/bg20.svg')no-repeat center center;
}
.parallax-bg .layer-2 {
    background: url('../img/bg30.svg')no-repeat center center;
}
.parallax-bg .layer-3 {
    background: url('../img/bg40.svg')no-repeat center center;
}
.parallax-bg .layer-4 {
    background: url('../img/bg50.svg')no-repeat center center;
}

.tnank-section {
    height: 100vh;
}

a.main {
    margin-top: 50px;
}

.main:hover .button{
    color: #d6ff00;
}

/* #slide-line {
    position: absolute; 

    background-color: #d6ff00;

    transition: 1s;

    right: 40px;
    width: 2px;
    height: 30px;
} */